[Unit]
Description=oakberryio daemon
After=network-online.target docker.service
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/oakd -config /etc/oak/oakd.toml
Environment=OAK_INIT_BIN=/usr/local/bin/oak-init
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
